/* body {
    display: flex;
    padding: 90px;
    font-family: 'Poppins', sans-serif;
}

.text p {
    color: #486958;
    font-size: 30px;
}
.text h4 {
    font-size: 40px;
}

.text {
    margin-left: 70px;
}

@media all and (max-width: 1300px) {
    body {
        flex-wrap: wrap;
    }
    .image {
        width: 90%;
        margin-left: 20%;
    }

}
@media all and (max-width: 960px) {
    .image {
        margin-left: 10%;
    }

}

@media all and (max-width: 640px) {
    .text {
        text-align: center;
    }
    .image img {
        width: 90%;
    }
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 90px;
    display: flex;
    justify-content: space-between;
}

.left h4 {
  font-size: 70px;
}

.left p {
    font-size: 30px;
    color: #404242;
    margin-top: 40px;
}

.right .bg, .right .pic {
    width: 40%;
}

.left button {
    background-color: #58A9A5;
    padding: 5px 10px;
    margin-top: 70px;
    font-weight: 700;
font-size: 20px;
    width: 30%;
    height: 53px;
    color: white;
    border: none;
    border-radius: 10px 10px 10px 0;

}

.right {
    position: relative;
    width: 105%;
    margin-left: 5%;
}

.right .bg {
    z-index: 1;
    width: 85%;
}

.right .pic {
    width: 85%;
    position: absolute;
    z-index: 2;
    margin-left: -86%;
}
@media all and (max-width: 1280px) {
.left h4 {
font-size: 55px;
}
.left p {
    font-size: 22px;
    margin-top: 33px;
}
.left button {
    margin-top: 60px;
}
}

@media all and (max-width: 960px) {
    .left h4 {
        font-size: 40px;
    }
    .left p {
        font-size: 16px;
    }

    .left button {
        margin-top: 40px;
    }
}
@media all and (max-width: 640px) {
    .container {
        flex-direction: column-reverse;
    }
    .left {
       text-align: center;
    }
    .left h4 {
        margin-top: 20px;
    }
}
@media all and (max-width: 320px) {
    .container {
        padding: 26px;
    }
    .left h4 {
        font-size: 23px;
    }
    .left p {
        font-size: 16px;
        margin-top: 20px;
    }
    .left button {
        width: 57%;
        margin-top: 21px;
    }
}